= simple_form_for(@post) do |f|
  = f.error_notification
  .inputs
    .col-lg-8
      = f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120
      = tinymce
    .col-lg-3
      = f.text_field :author_user_name, class: "form-control", placeholder: "Username"
      = f.input :thumb
      = f.text_field :title, class: "form-control", placeholder: "Title"

      = f.button :submit, class: "btn btn-danger"
