.col-lg-13
  .navbar
    .search
      = search_form_for @q do |f|
        .form-inline
          =f.search_field :title_start, class: "form-control", placeholder: "Search"
          =f.submit "Go", class: "btn btn-success"
.col-lg-1
.col-lg-10
  %table
    %tbody
      .post
        - @posts.each do |post|
          .contshow
            .title
              = post.title
            .thumb
              = image_tag post.thumb, size: '400x300'
            .content
              = raw(post.content)
              = link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }
.col-lg-1
%br
= link_to 'New Post', new_post_path, class:'btn btn-success'
= button_to('Log Out', destroy_user_session_path, class:'btn btn-danger', :method => :delete)
