.col-lg-1
.col-lg-10
  %table
    %thead
      %tr
        %th
    = search_form_for @q do |f|
      .forma
        =f.search_field :title_start, class: "form-control"
        =f.button 'Submit', class: "btn btn-danger"
    %tbody
      .post
        - @posts.each do |post|
          .contshow
            .title
              = post.title
            .thumb
              = image_tag post.thumb, size: '400x300'
            .content
              = raw(post.content)
              = link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }
.col-lg-1
%br
.btn
= link_to 'New Post', new_post_path
= button_to('Log Out', destroy_user_session_path, class:'btn btn-danger', :method => :delete)
